:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

}

*{
    box-sizing: inherit;

}

html{
    font-size: 62.5%;
    line-height: 2.2rem;
    font-family: 'Karma', sans-serif;
    box-sizing: border-box;
}